<!-- templates/login.html -->
{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Iniciar Sesión</h2>
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.correo.label }} {{ form.correo(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.password.label }} {{ form.password(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-success") }}
        </div>
    </form>
</div>
{% endblock %}
